*{
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.background {
    position: fixed;
    background-position: center;
    background-image: url(../img/bg_ocean.jpeg);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-size: cover;
    display: block;
    justify-content: center;
    margin-top: -8px;
    margin-left: -8px;
}
.layer {
    display: block;
    content: "";
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    z-index: -1;
}
a {
    text-decoration: none;
}

.section .logo {
    display: inline-block;
    height: 100%;
    vertical-align: top;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}   
.logo:link, .logo:visited  {
    color: white;
}

#annaeText {
    color: white;
}
#demo {
    display: grid;
    position: relative;
    text-align: center;
    color: white;
    place-items: center;
}
.float_letter {
    display: flex;
    justify-content: center;
    align-items: center;
}
.float_letter:link, .float_letter:visited {
    color: white;
}
.float_letter:hover {
    color: lightgray;
}

/* 온라인 웹 디자인 */
@media ( max-width: 768px ) {
    .section .logo {
        margin-left: 15px;
        margin-top: 15px;
    }   

    #annaeText {
        text-align: center;
        margin-top: 50%;
        font-size: 1.2rem;
        margin-left: 15%;
        margin-right: 15%;
        color: rgb(255, 255, 255);
    }
    #demo {
        font-size: 2.5rem;
    }
    .float_letter {
        font-size: 1.1rem;
        margin-top: 80px;
    }
    
    .header {
        position: fixed;
        height: 80px;
        width: 1720px;
        margin: 0px auto;
    }
}
@media (min-width: 768px) and (max-width: 991px) {
    /* 테블릿 세로 */
    .section .logo {
        font-size: 21px;
        margin-left: 20px;
        margin-top: 20px;
    }  

    #annaeText {
        text-align: center;
        margin-top: 50%;
        font-size: 1.6rem;
        margin-left: 15%;
        margin-right: 15%;
        color: rgb(255, 255, 255);
    }
    #demo {
        font-size: 6rem;
    }
    .float_letter {
        font-size: 1.3rem;
        margin-top: 80px;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    /* 테블릿 가로 */
    .section .logo {
        font-size: 24px;
        margin-left: 20px;
        margin-top: 20px;
    } 
    #annaeText {
        position: relative;
        text-align: center;
        place-items: center;
        font-size: 2rem;
        margin-bottom: -40px;
    }
    #demo {
        min-height: 10vh;
        font-size: 7rem;
    }
    .float_letter {
        font-size: 1.5rem;
        margin-top: 80px;
    }
}
@media ( min-width: 1024px ) {
    .background {
        display: block;
        justify-content: center;
    }
    
    .header {
        position: fixed;
        height: 80px;
        width: 1720px;
        margin: 0px auto;
    }

    #div1 {
        margin-top: 250px;
    }

    #annaeText {
        position: relative;
        text-align: center;
        place-items: center;
        font-size: 2rem;
        margin-bottom: -40px;
    }
    #demo {
        min-height: 10vh;
        font-size: 7rem;
    }
    .float_letter {
        font-size: 1.5rem;
        margin-top: 80px;
    }
    
    .section {
        height: 100%;
        width: 100%;
        font-size: 0px;
    }
    
    .section .logo {
        font-size: 24px;
        margin-left: 30px;
        margin-top: 25px;
    }   
    
    input[id="icon"] {
        display:none;
    } 
    
    body{
        height:5000px;
    }
    
    input[id="icon"] + label{
        position: relative;
        display:inline-block;
        width: 30px;;
        height: 30px;
        cursor:pointer;  /* 커서를 올려놓을 때 모양이 바뀐다. */
    } 
    
    input[id="icon"] + label > span {
        position: absolute;
        display:inline-block;
        width:100%;
        height:5px;
        border-radius:30px;
        background:#000;
        transition: all 0.35s;  /* 진행되는 과정들을 천천히 보여줄 수 있다. 0.35초 동안 진행됨 */
        z-index:2;
    
    }
    
    input[id="icon"] + label > span:nth-child(1) {
        top:0px;
    }
    
    input[id="icon"] + label > span:nth-child(2) {
        top:50%;
        transform: translateY(-50%);  /* 엘리먼트를 변형할 때 쓴다. 비틀거나 구부리거나 돌릴 때 . 여러가지로 모양을 바꿀 때 */
    }
    
    input[id="icon"] + label > span:nth-child(3) {
        bottom:0px;
    }
    
    
    input[id="icon"]:checked + label > span:nth-child(1) {
        top:50%;
        transform:translateY(-50%) rotate(45deg);
    }
    
    input[id="icon"]:checked + label > span:nth-child(2) {
        opacity: 0;
    }
    
    input[id="icon"]:checked + label > span:nth-child(3) {
        bottom:50%;
        transform:translateY(50%) rotate(-45deg);
    }
    
    #icon + label + #menu {
        position:fixed;  /* 스크롤을 내리더라도 같은 위치에서 붙어다닌다. */
        width:300px;
        height:100%;
        background:#333;
        top:0px;
        padding:60px 25px 25px 25px;
        box-sizing:border-box;
        right:-300px;
        z-index:1;
        transition: all 0.35s;
    }
    
    #icon:checked + label + #menu {
        right:0px;
    }
    
    #icon:checked + label + #menu > ul > li > a {
        color: white;
    }
}



