{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/after_letter.css' %}" />
    <script src="https://kit.fontawesome.com/066f39e5ce.js" crossorigin="anonymous"></script>
    <title>{{ post.pk }}번째로 도착한 편지</title>
</head>
<body>
    <!--뒤로 가기 버튼-->
    <a href="{%url 'afterhome' %}"><i class="fa-solid fa-chevron-left"></i></a>
    <div class="title">
        <span class="nickname">{{ post.author }}</span> 님이 보낸 편지
    </div>
    <div class="div_photo">
        {% if post.photo %}
        <img src="{{ post.photo.url }}" alt="{{ article.photo }}" >
        {% endif %}
    </div>
    <div class="letter_black">
        <!-- <div class="letter_ivory"> -->
            <p class="text">{{ post.body | linebreaksbr }}</p>
        <!-- </div> -->
    </div>
</body>
</html>