{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable"> 
    <meta content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" name="viewport" />   
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/after_home.css' %}" />
    <script type="text/javascript" src="{% static 'js/after_home.js'%}"></script>
    <title>조각배</title>
</head>
<body>
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
    
        <ul class="menu__box">
            <a class="ic_search"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Search</a>
            <li><input type="text" id="mySearch" onkeyup="search()" placeholder="닉네임으로 편지 찾기" title="Type in a category">
            </li>
            <li><a class="cafe" href="{% url 'debutcafe' %}">데뷔 카페 리스트</a></li>
            <li><a class="service" href="{% url 'customerservice' %}">Contact</a></li>
        </ul>
    </div>
    <!-- 배경화면 설정 -->
    <div class="background">
        <div class="sliding-background">
            <span>" 넌 나의 바다, 꿈을 꿔 </span><br>
            <span>사랑한다 사랑한다 사랑한다 "</span>
        </div>
        <!-- 편지지 아이콘 떠다니기 -->
        <div class="ocean-background">
        {% for post in posts %}
            <div class="container">
                <a href="/letter_view/{{ post.pk }}/">
                    <div class="duo" id="duo">
                        <!-- 이미지 -->
                        <button type="button" class="btn" id=""><img src="{% get_static_prefix %}img/{{ post.letter_paper }}.png" width="100" height="100"></button>
                        <p>{{ post.author }}</p>
                    </div>
                </a>
            </div>
        {% endfor%}
        </div>
    </div>
    
</body>
</html>