{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/after_home.css' %}" />
    <script type="text/javascript" src="{% static 'js/after_home.js'%}"></script>
    <title>조각배</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="#page-top">Start Bootstrap</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <!-- 햄버거 메뉴 아이콘 -->
                <svg class="svg-inline--fa fa-bars" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="bars" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg=""><path fill="currentColor" d="M0 96C0 78.33 14.33 64 32 64H416C433.7 64 448 78.33 448 96C448 113.7 433.7 128 416 128H32C14.33 128 0 113.7 0 96zM0 256C0 238.3 14.33 224 32 224H416C433.7 224 448 238.3 448 256C448 273.7 433.7 288 416 288H32C14.33 288 0 273.7 0 256zM416 448H32C14.33 448 0 433.7 0 416C0 398.3 14.33 384 32 384H416C433.7 384 448 398.3 448 416C448 433.7 433.7 448 416 448z"></path></svg><!-- <i class="fas fa-bars"></i> Font Awesome fontawesome.com -->
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="#projects">고객지원</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- 배경화면 설정 -->
    <div class="background">
        <!-- 편지지 아이콘 떠다니기 -->
        {% for post in posts %}
            <div class="div1">
                <a href="/letter_view/{{ post.pk }}/">
                    <div class="duo" id="duo">
                        <!-- 이미지 -->
{#                        <input type="button" class="btn" id="ic_rose">#}
{#                        <input type="button" class="btn" id="{{ post.letter_paper }}">#}
                        <button type="button" class="btn" id=""><img src="{% get_static_prefix %}img/{{ post.letter_paper }}.png" width="100" height="100"></button>
                        <p>{{ post.author }}</p>
                    </div>
                </a>
            </div>
        {% endfor%}
        </div>
    </div>

    
</body>
</html>


<!-- vscode 코드 -->
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="yes" name="apple-mobile-web-app-capable"> 
    <meta content="width=device-width, height=device-height, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0" name="viewport" />   
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="after_home.css">
    <script type="text/javascript" src="after_home.js"></script>
    <title>조각배</title>
</head>
<body>
    <div class="hamburger-menu">
        <input id="menu__toggle" type="checkbox" />
        <label class="menu__btn" for="menu__toggle">
            <span></span>
        </label>
    
        <ul class="menu__box">
            <a class="ic_search"><i class="fa-solid fa-magnifying-glass"></i>&nbsp;&nbsp;Search</a>
            <li><input type="text" id="mySearch" onkeyup="search()" placeholder="닉네임으로 편지 찾기" title="Type in a category">
            </li>
            <li><a class="cafe" href="../debut_cafe/debut_cafe.html">데뷔 카페 리스트</a></li>
            <li><a class="service" href="#">개발자 문의</a></li>
        </ul>
    </div>
    
    <!-- 배경화면 설정 -->
    <div class="background">
        <!-- 편지지 아이콘 떠다니기 -->
        <div class="sliding-background">
            <div class="div1">
                <div class="duo" id="duo" onclick="click_letter()" style="left: 0px; top: 30px;">
                    <input type="button" class="btn" id="ic_rose"></input>
                    <p>동대문 쿨키드</p>
                </div>
                <div class="duo" onclick="click_letter()" style="left: 10px; top: 0px;">
                    <input type="button" class="btn" id="ic_bottle_letter"></input>
                    <p>동대문 쿨키드</p>
                </div>
                <div class="duo" onclick="click_letter()" style="left: 70px; top: 80px;">
                    <input type="button" class="btn" id="ic_bottle_heart"></input>
                    <p>몽베베</p>
                </div>
                <div class="duo" onclick="click_letter()" style="left: 0px; top: 0px;">
                    <input type="button" class="btn" id="ic_bottle_heart"></input>
                    <p>청담동 소금쟁이</p>
                </div>
                <div class="duo" onclick="click_letter()" style="left: 30px; top: 500px;">
                    <input type="button" class="btn" id="ic_bottle_letter"></input>
                    <p>동대문 쿨키드</p>
                </div>
            </div>
        </div>
    </div>  
</body>
</html>