<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/066f39e5ce.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="debut_cafe.css">
    <script type="text/javascript" src="debut_cafe.js"></script>
    <title>Debut Cafe</title>
</head>
<body>
    <!--뒤로 가기 버튼-->
    <a href="../home/home.html"><i class="fa-solid fa-chevron-left"></i></a>
    <div>
        <h2>HongDae, Seoul</h2>
        <div class="div1">
            <div class="contents">
                <img src="../media/cafe_profile/tomybeloved.png" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.14 - 5.15</p>
                        <a href="https://twitter.com/Tomybeloved_MX">@To my beloved_</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/Aeonian__Love.png" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/Aeonian__Love">@Aeonian__Love</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/mx_cafeevent.png" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/mx_cafeevent">@mx_cafeevent</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/Corp_MX_Company.png" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.12 - 5.15</p>
                        <a href="https://twitter.com/Corp_MX_Company">@Corp_MX_Company</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/MX_7years_old.jpeg" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/MX_7years_old">@MX_7years_old</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/7thMonstaX.jpeg" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/7thMonstaX">@7thMonstaX</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/happy_7th_MXday.jpeg" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/happy_7th_MXday">@happy_7th_MXday</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/purplesis1.jpeg" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.15</p>
                        <a href="https://twitter.com/purplesis1">@purplesis1</a>
                    </div>
                </div>
            </div>
            <div class="contents">
                <img src="../media/cafe_profile/JUSTLOVE_0514.jpeg" width="100px"> 
                <div class="container">
                    <div class="div">
                        <p>2022.5.13 - 5.14</p>
                        <a href="https://twitter.com/JUSTLOVE_0514">@JUSTLOVE_0514</a>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Songpa, Seoul</h2>
            <div class="div1">
                <div class="contents">
                    <img src="../media/cafe_profile/MXILU_514.jpeg" width="100px"> 
                    <div class="container">
                        <div class="div">
                            <p>2022.5.11 - 5.15</p>
                            <a href="https://twitter.com/MXILU_514">@MXILU_514</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Busan</h2>
            <div class="div1">
                <div class="contents">
                    <img src="../media/cafe_profile/MX_debut.jpeg" width="100px"> 
                    <div class="container">
                        <div class="div">
                            <p>2022.5.11 - 5.14</p>
                            <a href="https://twitter.com/MX_debut">@MX_debut</a>
                        </div>
                    </div>
                </div>
                <div class="contents">
                    <img src="../media/cafe_profile/JUSTLOVE_0514.jpeg" width="100px"> 
                    <div class="container">
                        <div class="div">
                            <p>2022.5.13 - 5.14</p>
                            <a href="https://twitter.com/JUSTLOVE_0514">@JUSTLOVE_0514</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>Gwangju</h2>
            <div class="div1">
                <div class="contents">
                    <img src="../media/cafe_profile/MonstaX_GJ.jpeg" width="100px"> 
                    <div class="container">
                        <div class="div">
                            <p>2022.5.13 - 5.15</p>
                            <a href="https://twitter.com/MonstaX_GJ">@MonstaX_GJ</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="div2">
            <p class="msg">* 오류나 수정 사항 있으면 <span><a class="address" href="http://asked.kr/yourmysea514">@you_r_my_sea</a></span>로 문의 주세요</p>
        </div>
    </div>
</body>
</html>