{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'css/letter_writing.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
        <title>LETTER WRITING PAGE</title>
    </head>
    <body>
        <a href="{% url 'home'%}"><i class="fa-solid fa-chevron-left"></i></a>

        <h1>편지쓰기</h1>

        <form method="post" action="" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <div class="div1">
                        <div class="div2">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {% if field.name == "photo" %}
                    
                        <img id="preview" src="#" style="width: 200px;">
                        <input id="uploadFile" type="file" name="photo" onchange="readFile(event);" required/>
                    
                    {% elif field.name == "author" %}
                    
                        <input type="text" name="author" id="uid" rows="1" cols="30" placeholder="닉네임을 입력해주세요" maxlength="100" required>
                        <button type="button" id="btn-author" onclick="duplicate_check();">닉네임 중복체크</button>

                    {% elif field.name == "body" %}
                    <div>
                        <textarea id="content" name="body" type="text" rows="10" cols="50" placeholder="아티스트에게 모욕적인 표현과 말은 삼가해주세요" required></textarea>
                    </div>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color:red">{{field.errors}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
            {% endfor%}

            <input type="submit" id="submit_btn" value='바다에 띄우기'/>
        </form>
    </body>

    <script type="text/javascript" src="{%static 'js/letter_writing.js'%}"></script>

</html>