{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta content="yes" name="apple-mobile-web-app-capable"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, minimum-scale=1">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
        <script src="https://kit.fontawesome.com/066f39e5ce.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="{% static 'css/letter_writing.css' %}">
        <script type="text/javascript" src="{% static 'js/letter_writing.js' %}"></script>
        <title>LETTER WRITING PAGE</title>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    </head>
    <body>
        <!--뒤로 가기 버튼-->
        <a href="{% url 'home'%}"><i class="fa-solid fa-chevron-left"></i></a>


        <form method="post" id="frm" action="" enctype="multipart/form-data" class="container">
            {% csrf_token %}
            
            {% for field in form %}
                <div class="form-group">
                    <div class="div1">
                        <div class="div2">
                    <label for="{{field.id_for_label}}">{{field.label}}</label>
                    {% if field.name == "photo" %}
                    
                        <input id="uploadFile" type="file" name="photo" onchange="readFile(event);"/>
                        <div class="img_container" id="img_container" onclick="inputFile()"><img id="preview" src="{% static 'img/ic_plus_bg.png'%}" style="width: 240px;"></div>
                    
                    {% elif field.name == "author" %}
                    
                        <input type="text" class="author_input" id="nickname" name="author" rows="1" cols="30" placeholder="닉네임을 입력해주세요" maxlength="100" check_result="fail">
                        <button type="button" class="duplicate_button" id="btn-author" onclick="duplicate_check()">중복체크</button>
                        <img id="id_check_success" style="display: none" src="{% static 'img/check_nickname.png'%}"></img>

                    {% elif field.name == "body" %}
                    <div>
                        <textarea id="content" name="body" type="text" rows="10" cols="50"  placeholder="편지는 몬스타엑스 멤버 한정으로 써 주시고, 아티스트와 팬에게 상처가 될 수 있는 모욕적인 표현과 말, 도배 등은 삼가해주세요"></textarea>
                    </div>
                    {% endif %}
                    {% if field.errors %}
                        <span style="color:red">{{field.errors}}</span>
                    {% endif %}
                </div>
            </div>
        </div>
            {% endfor%}
            <div class="div3">
                <input type="button" id="submit_btn" onclick="submit_check()" value='바다에 띄우기'/>
            </div>
        </form>
    </body>
</html>