{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'css/letter_icon.css'%}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"/>
    <script src="https://kit.fontawesome.com/066f39e5ce.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{%static 'js/letter_icon.js'%}"></script>
    <title>글쓰기-아이콘 선택</title>
</head>
<body>
    <!--뒤로 가기 버튼-->
    <a href="{% url 'home' %}"><i class="fa-solid fa-chevron-left"></i></a>
    <div class="bg">
        <div>
            <p class="title">바다에 띄울 편지지를 선택해 주세요</p>
        </div>
        <!--편지지 아이콘 시작-->
        <form id="icons" name="icons" method="post" action="{% url 'icon' author %}">
            <div class="div1" onclick="select_icon()">
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_rose" value="ic_rose"></input>
                    <input type="submit" class="btn" name="icon" id="ic_rose_frag" value="ic_rose_frag"></input>
                    <input type="submit" class="btn" name="icon" id="ic_compass" value="ic_compass"></input>
                </div>
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_bottle_letter" value="ic_bottle_letter"></input>
                    <input type="submit" class="btn" name="icon" id="ic_bottle_heart" value="ic_bottle_heart"></input>
                    <input type="submit" class="btn" name="icon" id="ic_whale" value="ic_whale"></input>
                </div>
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_boongbbang" value="ic_boongbbang"></input>
                    <input type="submit" class="btn" name="icon" id="ic_duck" value="ic_duck"></input>
                    <input type="submit" class="btn" name="icon" id="ic_shark" value="ic_shark"></input>
                </div>
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_moonstar" value="ic_moonstar"></input>
                    <input type="submit" class="btn" name="icon" id="ic_cake" value="ic_cake"></input>
                    <input type="submit" class="btn" name="icon" id="ic_purple_heart" value="ic_purple_heart"></input>
                </div>
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_hamzzi" value="ic_hamzzi"></input>
                    <input type="submit" class="btn" name="icon" id="ic_shootingstar" value="ic_shootingstar"></input>
                    <input type="submit" class="btn" name="icon" id="ic_earth" value="ic_earth"></input>
                </div>
                <div>
                    <input type="submit" class="btn" name="icon" id="ic_socute_cat" value="ic_socute"></input>
                </div>
                <!--편지지 아이콘 끝-->
            </div>
        </form>
    </div>
    
    <!--다음 버튼-->
    <!-- <div class="div2">
        <input type="button" id="next_btn" value="다음으로" disabled="" onclick="to_letter()"></input>
    </div> -->

</body>
</html>