<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="submit.css">
    <script type="text/javascript" src="submit.js"></script>
    <script src="https://kit.fontawesome.com/066f39e5ce.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="background">
        <!--뒤로 가기 버튼-->
        <a href="../home/home.html"><i class="fa-solid fa-x"></i></a>
        <div class="layer">
            <img id="bottle" src="../media/ic_bottle_boat.png" width="160px"/> 
            <p>함께 항해해 주셔서 감사합니다</p>
        </div>
    </div>
</body>
</html>