body {
    background-color: #e8e8e8;
}

i {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}

.title {
    position: relative;
}

.nickname {
    font-weight: bold;
}

.div_photo {
    text-align: center;
}

.letter_green {
    background-color: rgb(8, 56, 64);
    margin: 0 auto;
}

.letter_ivory {
    background-color: rgb(250, 243, 225);
}

.text {
    position: relative;
}

/* 핸드폰 */
@media ( max-width: 768px ) {
    .title {
        left: 5%;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    img {
        width: 90%;
    }
    .letter_green {
        width: 85%;
        min-height: 300px;
        border-radius: 30px;
        margin-top: 30px;
        padding: 10px;
    }
    .letter_ivory {
        margin-top: -15px;
        margin-bottom: -15px;
        min-height: 300px;
        border-radius: 20px;
    }
    .text {
        top: 15px;
        left: 5%;
        margin-right: 30px;
    }
}
/* 테블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {

}
/* 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* 데스크탑 */
@media ( min-width: 1024px ) {
    .title {
        left: 10%;
        margin-top: 25px;
        margin-bottom: 20px;
    }
    img {
        width: 80%;
    }
    .letter_green {
        width: 75%;
        min-height: 200px;
        border-radius: 50px;
        padding: 10px;
        margin-top: 30px;
    }
    .letter_ivory {
        margin-top: -15px;
        margin-bottom: -15px;
        border-radius: 40px;
        min-height: 200px;
    }
    .text {
        top: 20px;
        left: 20px;
        margin-right: 50px;
    }
}