
@font-face {
    font-family: 'HSYuji-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/HSYuji-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    box-sizing: border-box;
    list-style: none;
    -webkit-text-size-adjust:none;
    /* font-family: '나눔손글씨 초딩희망', 'Nanum CoDingHeuiMang', 'Nanum CoDingHeuiMang'; */
    font-family: 'HSYuji-Regular','HSYuji-Regular','HSYuji-Regular';
}

body {
    background-color: #e8e8e8;
}

button[target="ic_earth"] {
    color : transparent; 
}

.bg {
    background-color: rgb(8, 56, 64);
    padding-top: 20px;
    margin: 0 auto;
}
i {
    text-decoration: none;
    color: black;
    margin-top: 10px;
    margin-left: 10px;
    font-size: larger;
}
.title {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
    text-align: center;
    color: white;
}

.div1 {
    text-align: center;
}

.btn {
    background-color: rgb(253, 245, 245);
    border: none;           
    cursor: pointer;                 
    border-radius: 30px;
    background-size: contain;
    /*opacity: 0.6;*/
    transition-duration: 0.3s;
    margin: 5px;
    color: #FF000000;
}

/* .active, .btn:hover {
    border-style: groove;
    opacity: 1;
} */

.div2 {
    text-align: center;
}

/* #next_btn {
    background-color: black;
    color: white;
    border-radius: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#next_btn[disabled] {
    opacity: 0.2;
    cursor: not-allowed;
} */

input {
    background-repeat: no-repeat;
}
input#ic_hyunwoo {
    background-image: url("../img/ic_hyunwoo.6169f1bf18b2.png");
}
input#ic_minhyuk {
    background-image: url("../img/ic_minhyuk.89d0c08b94ad.PNG");
}
input#ic_kihyun {
    background-image: url("../img/ic_kihyun.4f094ee4d47a.png");
}
input#ic_hyungwon {
    background-image: url("../img/ic_hyungwon.67d56761c4fa.PNG");
}
input#ic_joohoney {
    background-image: url("../img/ic_joohoney.69d5168a2c76.PNG");
}
input#ic_changkyun {
    background-image: url("../img/ic_changkyun.30a573901de8.PNG");
}
input#ic_paper_boat {
    background-image: url("../img/ic_paper_boat.a70e2927b712.PNG");
}
input#ic_rose {
    background-image: url("../img/ic_rose.eb75e47fbaec.png");
}
input#ic_rose_frag {
    background-image: url("../img/ic_rose_frag.662e93300f00.png");
}
input#ic_compass {
    background-image: url("../img/ic_compass.4f3fb68272fa.png");
}
input#ic_bottle_letter {
    background-image: url("../img/ic_bottle_letter.51cff7923e50.png");
}
input#ic_bottle_heart {
    background-image: url("../img/ic_bottle_heart.0e20d4ab280b.png");
}
input#ic_whale {
    background-image: url("../img/ic_whale.80c8393e55f9.png");
}
input#ic_boongbbang {
    background-image: url("../img/ic_boongbbang.fc15e04f1600.png");
}
input#ic_duck {
    background-image: url("../img/ic_duck.bab116845806.png");
}
input#ic_shark {
    background-image: url("../img/ic_shark.a406a841eb7b.png");
}
input#ic_moonstar {
    background-image: url("../img/ic_moonstar.77b1cf09ddb4.png");
}
input#ic_cake {
    background-image: url("../img/ic_cake.9f724d1513e1.png");
}
input#ic_purple_heart {
    background-image: url("../img/ic_purple_heart.78b99e51cc50.png");
}
input#ic_hamzzi {
    background-image: url("../img/ic_hamzzi.b4633acf3bfb.png");
}
input#ic_shootingstar {
    background-image: url("../img/ic_shootingstar.c9675d0d1298.png");
}
input#ic_earth {
    background-image: url("../img/ic_earth.f4cc71283139.png");
}
input#ic_socute_cat {
    background-image: url("../img/ic_socute.20f897345a9f.PNG");
}

/* 핸드폰 */
@media ( max-width: 412px ) {
    .bg {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 60px;
        width: 95%;
        margin-top: 20px;
    }
    .btn {
        height: 90px;
        width: 90px;
    }
    /* #next_btn {
        font-size: 16px;
        height: 50px;
        width: 350px;
    } */
}
@media ( min-width: 412px ) and ( max-width: 768px ) {
    .bg {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 60px;
        width: 95%;
        margin-top: 20px;
    }
    .btn {
        height: 100px;
        width: 100px;
    }
    /* #next_btn {
        font-size: 16px;
        height: 50px;
        width: 350px;
    } */
}
/* 테블릿 세로 */
@media (min-width: 768px) and (max-width: 991px) {
    .bg {
        padding-top: 20px;
        padding-bottom: 20px;
        border-radius: 60px;
        width: 90%;
        margin-top: 20px;
    }
    .btn {
        height: 180px;
        width: 180px;
    }
    /* #next_btn {
        font-size: 16px;
        height: 50px;
        width: 350px;
    } */
}
/* 테블릿 가로 */
@media (min-width: 992px) and (max-width: 1199px) {
    .bg {
        width: 90%;
        height: auto;
        border-radius: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .btn {
        height: 250px;
        width: 250px;
    }
    /* #next_btn {
        font-size: 16px;
        height: 50px;
        width: 350px;
    } */
}
/* 데스크탑 */
@media ( min-width: 1024px ) {
    .bg {
        width: 717px;
        height: auto;
        border-radius: 100px;
        padding-top: 20px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .btn {
        height: 150px;
        width: 150px;
    }
    /* #next_btn {
        font-size: 16px;
        height: 50px;
        width: 500px;
    } */
}